iframe {
  display:block;
  margin-top:-80px;
  margin-bottom:100px;
  width:100vw;
  height:100vh;
  padding-bottom:80px;
}

.iconfinder-back-322419 {
    display: block;
    content: '';
    background-image: url('../images/cofnij-do-stronymonki.png');
    width:25px;
    height:25px;
    color:white;
}

