@e-fontsize-basic-font: 14px;
@e-color-basic:  #084E5A;
@e-color-szary:  #FBFBFB;


span.e-color-basic a{
  color:   @e-color-basic;
}


@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Calligraffitti|Ovo);
img{
  border:0px;
}

body{
	background:url("../images/tekst.jpg");
}

div.Klikenter {
	position:relative;
	left:0px;
	top:0px;
	width:1000px;
	height:auto;
	margin: 0 auto;
}


div.Logo-Klikenter {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:40px;

}


.Tlo-Naglowek-Klikenter{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:494px;
	background:url("../images/naglowek.jpg") center;
	float:left;
}


div.Slajder-Klikenter {
	position:absolute;
	left:0px;
	top:40px;
	width:1000px;
	height:auto;
}

div.Menu-Klikenter {
	position:absolute;
	left:0px;
	top:494px;
	width:100%;
	height:70px;
    z-index: 2;
}
.Tlo-Menu-Klikenter{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:70px;
	background:url("../images/menu.jpg");
	float:left;
}

div.Tresc-Klikenter {
	position:relative;
	left:0px;
	top:408px;
	width:1000px;
    height:auto;
	margin: 0 auto;
    background:url("../images/index_04.jpg")no-repeat;
    z-index: 1;
}


div.Stopka-Klikenter {
	position:relative;
	left:0px;
	top:66px;
	width:1000px;
	height:138px;
    z-index:90;
    float:left;
}
.Tlo-Stopka-Klikenter{
	position:relative;
	left:0px;
	bottom:0px;
	width:100%;
	height:138px;
	background:url("../images/stopka.jpg")repeat-x;
	float:left;
}

/* Tre?? code klikENTER */
div#Tresc-Klikenter{
float:left;
z-index:90;
position: relative;
top:-400px;
min-height: 320px;
height: auto;
}


div#Tresc-Klikenter h2{
  color:#094F5B;

  font-size:1.4em;
  border-bottom: 1px solid #aaa;
	margin: 15px 0;
	padding: 5px 0;
	position: relative;



    border:groove 2px #FFFFFF;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;







    }
 div#Tresc-Klikenter h2:before,
 div#Tresc-Klikenter h2:after{
 content: '';
	border-right: 20px solid #F5F5F5;
	border-top: 15px solid #B3B3B3;
	bottom: -15px;
	position: absolute;
	left: 25px;

 }
  div#Tresc-Klikenter h2:after{
    border-top-color: #F5F5F5;
	border-right-color: transparent;
	bottom: -13px;
	left: 26px;

  }


 div#Tresc-Klikenter h2:hover{
	color:@e-color-basic + #E5E5E5;
	text-decoration: none;
}

 div#Tresc-Klikenter p{
  color:#3C3C3C;
  font-size:18px;
  font-family: 'Ovo', serif;
  }

/* Menu code klikENTER */

/* Pole szukaj */
#Szukaj_firme {
	position:absolute;
	left:300px;
	top:300px;
	width:702px;
	height:58px;
}

#pole-szukaj_ {
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	height:58px;
    background:url('../images/pole_szukaj.png') no-repeat;
}
#pole-szukaj_ p{
 color:#084E5A;
 font-size: 22px;
 margin-top:20px;
 margin-left:10px;
 text-shadow: 2px 2px 2px #F9F9F9;
}


#przycisk-szukaj_ {
	position:absolute;
	left:485px;
	top:0px;
	width:67px;
	height:58px;
}
 .przycisk-szukaj_ {
   margin-top:-15px;
	width:150px;
	height:52px;
    background:#094F5B;
    color:#FFFFFF;



    border:groove 2px #094F5B;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:75px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:75px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:0px;
    border-top-right-radius:75px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:75px;


}

/* koniec-Pole szukaj */

#droppy a {
	font-size: (@e-fontsize-basic-font+4px);
	text-decoration:none;
	-webkit-transition: all .06s ease-in-out;
	-moz-transition: all .06s ease-in-out;
	transition: all .06s ease-in-out;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
    z-index:3;
}
#droppy{
    z-index:3;
    float:none; ;
    display:block;
    text-align:right;
    position: relative;
    bottom:20px;
    padding-top: 30px;
  }
  #droppy>li{
    float:none;
    display:inline-block;
    text-align:left;
  }

#droppy li > a {
	color: #FFFFFF;
	display: inline-block;
	padding: 10px 16px 11px 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#droppy li.hover > a {
background:#1192A8;
opacity : 0.70;
filter : alpha(opacity=70);
	color:@e-color-basic;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border:#FFFFFF 5px;
}
#droppy li ul li a {
	font-size: 14px;
}
#droppy li ul li a.hover {
	width: 100%;

}
#droppy ul {top:45px;}
#droppy ul li a {font-size: 14px; font-family: Arial; }
#droppy ul a.hover {background:#1192A8;
 color: @e-color-basic;}
#droppy li ul {background:#1192A8;
opacity : 0.90;
filter : alpha(opacity=90);color:#FFFFFF;border:2px #000000;}
#droppy li ul li {background:#1192A8;
opacity : 0.90;
filter : alpha(opacity=90);}
#droppy .menuOpen{
	background:#1192A8;
opacity : 0.70;
filter : alpha(opacity=70);
	color:#EEEEEE;
}

#droppy li ul li a {
	color:@e-color-basic;
}
#droppy ul li .menuOpen{
	background:#1192A8;
opacity : 0.70;
filter : alpha(opacity=70);
	color:#4A3E71;
	width:100%;
}
.span100{
  width:1000px;
}
.span100proc{
width:100%;
}

    /* Podzia? na dwie kolumny */
    #exCenter{
    width:1000px;
    margin:auto;
}
#exHeader,#exContent,#exFooter{
    margin-bottom:2px;
}
#exLeftColumn{
    float:left;
    width:500px;
}

div#exLeftColumn h4{
  color: @e-color-basic;
}

#exRightColumn{
    float:right;
    width:500px;
}
div#exRightColumn h4{
  color: @e-color-basic;
}

.exClear{
    clear:both;
    line-height:0px;
}
       /* koniec Podzia? na dwie kolumny */

  .szukaj_firmy{
  background:none;
  border:0;
  padding-left:10px;
  padding-top:10px;
  font-size:1.8em;
  color:#094F5B;
  text-shadow: 1px 1px 2px #BFD8F5;
}

.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;

}

.newspaper span {
font-size:1em;
color:#094F5B;
}

.ogloszenie_bezplatne {
    background:-moz-radial-gradient(50% 50% 172deg, #009C59, #81D158 77%);
    height:30px;
    width:250px;
    text-align:center;
     margin-left:opx;
     margin-bottom: 20px;
    border:groove 2px #FFFFFF;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:75px;
    float:right;}

    .ogloszenie_bezplatne span ,.ogloszenie_platne span{
      color:#FFFFFF;
      text-shadow:1px 1px 2px #000000;
    }
.ogloszenie_platne {
    background:-moz-radial-gradient(58% 49% 0deg, #FFC6B2, #FF0000 70%);
    height:30px;
    width:250px;
    text-align:center;
     margin-left:opx;
     margin-bottom: 20px;
    border:groove 2px #FFFFFF;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:75px;
    float:right;}
